body {
  width: 400px;
  height: 500px;

  font-family: "Segoe UI", "Lucida Grande", "Tahoma", "sans-serif";
  font-size: 13px;
  color: #ED4267;

  padding: 0;
  
  background-color: white;
}

/* MAIN CONTAINER */

#popup-container{
  height: inherit;

  border: 2px solid green;

}

.header{
  height: 9%;

  border-bottom: 2px solid green;
}

.contents{
  height: 90%;

  margin-top: 1px;

  /*border: 1px solid red;*/
}

.header-left-icons{
  width: 40px;
  height: 100%;

  background-color: green;

  /*border: 1px solid black;*/

  /* May be needed if img becomes blurry
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;*/

  float: left;
}

.header-text{
  width: 250px;
  height: auto;
  /*border: 1px solid orange;*/
  margin: 0 auto;
  
}

.header-right-icons{
  width: 40px;
  height: 100%;

  background-color: green;

  /*border: 1px solid black;*/

  float: right;
}

.trigger-menu-slide {
  width: 32px;
  height: 32px;
  padding: 3px 3px 3px 3px;

  /* For vertical alignnment of image*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#p-active-conv{
  font-size: 15px;
  margin:0; 
  padding-top: 3%;
}

.p-total-members{
  font-size: 9px;
}

#p-status{
  font-size: 11px;
  margin: 0;
}

.add-group {
  width: 32px;
  height: 32px;
  padding: 3px 3px 3px 3px;

  /* For vertical alignnment of image*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


